<h1>Welcome</h1>
<p>Welcome to StoryBooks 1.0.0</p>
<p>Post Stories from the best and worst of your life and choose for them to be public or private as your personal diary.
</p>
<a href="/auth/google" class="btn red darken-2"><i class="fa fa-google left"> Login With Google</i></a>