<h2>Edit Story</h2>
<div class="row">
    <form action="/stories/edit/{{story._id}}?_method=PUT" method="post" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" name="title" id="title" value="{{story.title}}" required>
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select class="browser-default" name="status">
                    {{#select story.status}}
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <p>
            <label>

                <input type="checkbox" name="allowComments" class="filled-in" {{#if story.allowComments}}
                    checked="checked" {{/if}} />
                <span>Allow Comments</span>
            </label>
        </p>
        <div class="row">
            <div class="input-field">
                <h5>Tell us about your story</h5>
                <textarea name="details">{{story.details}}</textarea>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn">
    </form>
</div>